# Entorno virtual
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Configuración de entorno/IDE
*.env
*.vscode/
*.idea/

# Jupyter
.ipynb_checkpoints/
*.ipynb_backup

# Otros
.DS_Store
